* {
	font-family: monospace;
}

html, body {
	margin: 0;
    padding: 0;
    height: 100%;
	background: whitesmoke;

}

.page {
  height:100%;
  width:100%;
  overflow:hidden;
}​

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}

.top {
    width: 99.5%;
    border: 1px solid black;
    margin: 0 auto;
    height: 25px;
    position: relative;
}

.top pre {
  margin-block-start: 0;
}

.top a {
  margin-block-start: 0;
}

.top2 {
  background: #BCB9B9;
    width: 99.5%;
    border: 1px solid black;
    margin: 0 auto;
    height: 20px;
    position: relative;
}
.top2 p {
  vertical-align: middle;
  margin-top: 0px;
}

.project {
  float: left;
  background: #383838;
    width: 250px;
    border: 0.5px solid black;
    height: calc(100% - 70px);
    margin: 0 auto;
    position: relative;
    display:inline;

}

.project h1 {
  text-align:center;
  color: white;
  font-size: 15px;
}

.project p {
  padding-left: 10px;
  color: #C2C6CE;
}

.project pre {
  color: #C2C6CE;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 30px;
}

.project a {
  text-decoration: none;
  color: #C2C6CE;
}

.tabs {
  float: left;
  width: calc(99.6% - 250px);
  background: #383838;
  border: 0.5px solid black;
  height: 30px;
  position: relative;
  left: 3%;

}

.code {
  float: left;
  width: calc(99.6% - 250px);
  background: #474B56;
  border: 0.5px solid black;
  height: calc(100% - 70px - 31px);
  position: relative;
  left: 3%;
}
