#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:100%;
  height:20%;
  filter: none;
  margin: 0 auto;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:10%;
  height:10%;
}

#canvas {
  display: none;
}

.camera {
  width:600px;
  margin-top: 10px;
 display: inline-block;
 float:left;
}

.output {
  width: 75%;
  display:inline-block;
}

#startbutton {
  display:block;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.page {
  margin: 0 auto;
  width: 100%;
  height: 600px
}

.box {
 width: calc(100% - 58.641px);
 position:relative;
 margin: 0 auto;
}

.slider {
  width: 200px;
  height: 480px;
  margin-top: 10px;
 display: inline-block;
  overflow-y: scroll
}
.slider2 {
  width: 200px;
  height: 480px;
  margin-left: 10px;
 display: inline-block;;
}

.next {
  height:20px;
  margin-right: 10px;
 display: inline-block;
 float: right;
 position:absolute;
 margin-bottom: 0%;
 margin-right: 7%;
}
