* {
	font-family: monospace;
}

html, body {
	margin: 0;
    padding: 0;
	background: whitesmoke;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.header {
	background-color:black;
	height: 60px;
  }

 .header a {
	float: left;
	height: 32px;
	color: #f2f2f2;
	text-align: center;
	line-height: 28px;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 13px;
  }

  .header a.two {
	float: left;
	height: 30px;
	color: #f2f2f2;
	text-align: center;
	padding: 0;
	text-decoration: none;
	font-size: 17px;
  }

.header a:hover {
	background-color: seagreen;
	color: black;
  }

.dropbtn {
    background-color: black;
    color: white;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 30px;
	font-size: 17px;
	height: 38px;
    border: none;
}

.dropdown {
    position: relative;
	display: inline-block;
	height: 58px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
	min-width: 100px;
    color:whitesmoke;
    padding: 1.5vh 1vw;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: gray;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: seagreen;}


button {
    background-color: seagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.but {
	width:50px;
	height: 50px;
}

button:hover {
    opacity: 0.8;
}

.block {
	padding-left: 25vw;
	padding-right: 25vw;
	padding-top: 10vh;

}

.logout {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: white;
	box-shadow: 10px 10px 5px grey;
	position: absolute;
	z-index:100;
	top: 5vh;
	left: calc(50% - 150px - 15px);
}

.create {
	width:30%;
	height: 60%;
	padding-top: 20vh;
	margin:0 auto;
	text-align: center;
}
.slider {
  width: 200px;
  height: 480px;
  margin-top: 10px;
 display: inline-block;
  overflow-y: scroll
}

.content {
    max-width: 80%;
    margin: auto;
    background: white;
    padding: 10px;
}
.center {
	max-width: 920px;
	margin: auto;
	background: white;
	padding: 10px;
}
